<h1>Make your form here</h1>
<form action="/new" method="post">
  Name:<input type="text" name="pirate[name]">
  Weight:<input type="text" name="pirate[weight]">
  Height:<input type="text" name="pirate[height]">

</form>
