<h1>Make your form here</h1>
<form action="/pirates" method="post">
  Name:<input type="text" name="pirate[name]">
  Weight:<input type="text" name="pirate[weight]">
  Height:<input type="text" name="pirate[height]">

  <input type="text" name="pirate[ships][][name]">
  <input type="text" name="pirate[ships][][type]">
  <input type="text" name="pirate[ships][][booty]">
  <input type="submit" name="" value="Submit">
</form>
